.Header__Title {
  line-height: 65px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  color: wheat;
}

header {
  height: 65px;
  background-color: rgb(82, 82, 146);
  user-select: none;
}
